<div class="row">

  <div class="col-md-5">
    <h1>
      <%= image_tag(@region.image.url(:medium)) %>
    </h1>
    <h1>
      <strong>Name:</strong>
      <%= @region.name %>
    </h1>
    <div class="col-lg-offset-3">
      <div class="form-group">
        <h4>
          <strong>Type:</strong>
          <%= @region.space_type %>
        </h4>
      </div>
      <div class="form-group">
       <h4>
          <strong>Space:</strong>
          <%= @region.space %>
        </h4>
      </div>
      <div class="form-group">
        <h4>
          <strong>Danger level:</strong>
          <%= @region.danger_level %>
        </h4>
      </div>

      <%= link_to 'Edit', edit_region_path(@region), class: 'badge' %>
      <%= link_to 'Back', regions_path, class: 'badge' %>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="form-group">
      <h4>
        <br>
        <strong>Description:</strong>
        <br>
        <%= @region.description %>
      </h4>
    </div>
  </div>

</div>