<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Discovery", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li id="fat-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "New expedition", new_expedition_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to current_user.email, edit_user_registration_path %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Song Up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
